.principal__titulo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--laranja)
}

.principal__subtitulo {
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  color: var(--azul);
  margin: 3em 0 2em 0;
}

.formulario__campo {
  margin: .6em 3em .6em 0;
  width: 25%;
}


.erro__texto {
  font-size: 12px;
  line-height: 18px;
  color: var(--vermelho);
}

.ng-touched.ng-invalid:not(form){
  border-color: red;
  color: red;
}

.formulario__botao {
  background: var(--laranja);
  padding: 1em 4em;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  border: none;
  color: var(--branco);
  cursor: pointer;
  float: right;
}

.formulario__botao_cancelar {
  background: var(--vermelho);
  padding: 1em 4em;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  border: none;
  color: var(--branco);
  cursor: pointer;
  float: right;
}

.formulario__erro {
  display: flex;
  margin-top: .5em;
  align-items: center;
}

.espacamento_botoes {
  display: flex;
}

.limite_espaco{
  margin: 5px;
}
