.cabecalho {
  background: var(--cinza-claro);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho .escola {
  width: 46%;
  padding: 2rem 3rem;
}

.cabecalho .escola p {
  font-size: 2rem;
  color: var(--branco);
}
